<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title class="title">Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" [formControl]="searchControl" (ionChange)="setFilteredItems()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let dummy of Dummy" (click)="chat(dummy.key)">
      <ion-avatar slot="start">
        <img *ngIf="!dummy.imgUrl" src="../../../assets/img/logo.png">
        <img [src]=dummy.imgUrl>
      </ion-avatar>
      <ion-label>
        <h2>{{dummy.nama}}</h2>
        <p class="lightgrey">{{dummy.privilege}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
